.header__logo {
    align-self: start;
    width: 176px;
    height: 52px;
    object-fit: contain;
    margin: 28px 0 0 48px;
}

@media screen and (max-width:840px) {
    .header__logo {
        margin: 28px 0 0 24px;
    }
}

@media screen and (max-width:520px) {
    .header__logo {
        margin: 16px 0 0 16px;
        width: 142px;
        height: 42px;
    }
}

@media screen and (max-width:320px) {
    .header__logo {
        max-width: 142px;
        margin: 0;
        padding: 0;
    }
}