.cover__overlay {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 44, 47, 0.3);
    transition: background-color 0.3s ease-in-out;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}