.footer {
    padding: 92px 0 24px;
    max-width: calc(100% - 48px * 2);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #2a2c2f;
}

@media screen and (max-width:840px) {
    .footer {
        padding: 88px 0 24px;
        max-width: calc(100% - 24px * 2);
    }
}

@media screen and (max-width:620px) {
    .footer {
        padding: 64px 0 24px;
        max-width: calc(100% - 16px * 2);
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width:320px) {
    .footer {
        margin-top: 64px;
        padding: 0 0 16px 0;
    }
}

/* расстояние между cover и footer на разрешении 320 в брифе 64px, оно соблюдено. */